* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    margin: 0;
    font-family: Georgia, serif;
}

/* Container styles */
.container {
    justify-content: center;
    width: 90%;
    margin: 0 auto;
}

.bcontainer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* 12 equally sized columns */
    gap: 10px;
    /* Optional: Adds space between the columns */
    padding: 20px;

    /* display: grid;
    grid-template-columns: 250px 1fr;
    gap: 10px; */
    /* Optional: Adds space between the columns */
}

/* Header styles */
header {
    background-color: #336699;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-family: Arial, sans-serif;
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;

}

header p {
    font-size: 1.1rem;
    color: white;
}

nav {
    display: flex;
    justify-content: center;
    /* Horizontally center the items */
    align-items: center;
    /* Vertically center the items */
    background-color: #161313;
    /* Just to visualize */
    padding: 10px 0;
    /* Adjust padding as needed */
    width: 100%;
    /* Ensure the nav takes full width */
}

/* Navigation styles */
nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Main styles */
main {
    padding: 20px 0;
}

/* Section styles */
section {
    margin-bottom: 30px;
}

/* Hero section styles */
.hero img {
    width: 100%;
    height: auto;
}

/* Call to action section styles */
.call-to-action h2 {
    font-family: Arial, sans-serif;
    color: #336699;
    font-size: 2rem;
    margin-bottom: 10px;
}

.cta-button {
    background-color: #FF9900;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

/* Footer styles */
footer {
    background-color: #336699;
    color: white;
    padding: 20px 0;
}

footer h3 {
    font-family: Arial, sans-serif;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

footer p {
    font-size: 1rem;
    text-align: center;

}

footer .development-info {
    margin-top: 20px;
}

footer .development-info p {
    font-size: 0.8rem;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* Dividing into two columns */
    gap: 10px;

}

.sidebar {


    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.image {
    background-color: #e0e0e0;
    padding: 20px;
    text-align: center;
}

.image img {
    width: 100%;

    height: auto;

}