:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --font-family: Arial, sans-serif;
}

/* styles/base.css */
body {
    font-family: var(--font-family);
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


header {
    background-color: #4D5B97;
    color: #fff;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header img {
    width: 100px;
    border-radius: 10%;
}

span.name {
    font-size: 40px;
    /* Adjust the value as needed */

}


nav {
    display: flex;
    justify-content: center;
    /* Horizontally center the items */
    align-items: center;
    /* Vertically center the items */
    background-color: #161313;
    /* Just to visualize */
    padding: 10px 0;
    /* Adjust padding as needed */
    width: 100%;
    /* Ensure the nav takes full width */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    /* Make the ul a flex container */
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
    /* Remove margin from the last li */
}

nav ul li a {
    color: white;
    text-decoration: none;
}

/* Style the navigation links */
nav a {
    color: white;
    /* Default color */
    transition: color 0.3s;
    /* Smooth transition effect */
}

/* Change the color on hover */
nav a:hover {
    color: yellow;
    /* New color on hover */
}



main {
    padding: 20px;
}

h1 {
    color: var(--primary-color);
    text-align: center;
}

.form-group {
    margin-bottom: 20px;
}

h2 {
    background-color: #4D5B97;
    color: white;
    padding: 20px;
}


label {
    display: block;
    margin-bottom: 5px;
    color: var(--secondary-color);
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="range"] {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

#ratingValue {
    margin-left: 10px;
    font-weight: bold;
}


/* .card {
    width: 400px;
    height: 350px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px auto;
    margin: 10px auto;
    padding: 1px;
} */

/* Define styles for the map container */
#map-container {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    /* Center the map horizontally */
}


footer {
    background-color: #4D5B97;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

footer p {
    margin: 5px 0;
}

footer p span {
    color: #ff0;
}